### System level settings used for deploying docker images

#1.specify your proxy settings
PROXY=proxy:8080
http_proxy=proxy:8080
https_proxy=proxy:8080
no_proxy=ha-smtp,vault

#2.credentials for PostgreSQL instance
POSTGRES_USER=nlp
POSTGRES_PASSWORD=password123

#3.credentials for ElasticSearch instance
ELASTIC_USER=nlp
ELASTIC_PASSWORD=password123

### Appication level settings used inside docker containers

# uid: same as POSTGRES_USER set in #2 
# password: same as POSTGRES_PASSWORD set in #2
# Eg: database=nlp;uid=nlp;password=password123;

ConnectionStrings__DBConnection=server=medCentreLoggingDb;database=medcentre;uid=nlp;password=password123;

# same as the credentials set for ElasticSearch in #3
ElasticsearchSettings__SingleNode__ElasticSearchUrl=elasticsearch:9200
ElasticsearchSettings__SingleNode__ElasticSearchUser=nlp
ElasticsearchSettings__SingleNode__ElasticSearchPassword=ELASTIC_PASSWORD

# Vault connection settings

VaultGatewaySettings__ServerAddress=http://vault:8200
VaultGatewaySettings__RootToken=myroot

VAULT_DEV_ROOT_TOKEN_ID=myroot
VAULT_DEV_LISTEN_ADDRESS=0.0.0.0:8200

# Email settings
EmailSettings__Host=ha-smtp
EmailSettings__Port=25
#EmailSettings__Username=
#EmailSettings__Password=
